html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding-top: 80px;
  }

  main {
    flex: 1;
  }

  .nav-link {
    color: white !important;
  }

  .logo-vaga {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    background-color: #f0f0f0;
    border-radius: 8px;
  }

  .vaga-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 40px;
  }

  .btn-ver {
    border: 2px solid #015EDB;
    color: #015EDB;
    font-weight: bold;
    transition: 0.3s;
  }

  .btn-ver:hover {
    background-color: #015EDB;
    color: white;
  }

  footer {
  background-color: #015EDB;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}