<% if (erro) { %>
  <div class="alert alert-danger text-center">
    <%= erro %>
  </div>
<% } %>

<% if (sucesso) { %>
  <div class="alert alert-success text-center">
    <%= sucesso %>
  </div>
<% } %>
