<footer class="p-2 text-center bottom">
          <div class="container">
              <p class="text-white">&copy; Connect Skills 2025.tm</p>
              <p class="text-white">Todos os direitos reservados.</p>
          </div>
</footer>