<footer class="p-3 text-center bg-primary text-white mt-5" style="background-color: #2F84F5;">
  <div class="container">
    <p class="mb-0">Connect Skills &copy; 2025</p>
    <p>Todos os direitos reservados.</p>
  </div>
</footer>




