<footer class="p-4 bg-primary text-white mt-4" style="background-color: #545454;">
  <p class="text-secondary mb-3"></p>
  <div class="container">
    <!-- Quem somos -->
    <div class="row mb-3">
      <div class="col-12 col-md-4">
        <h5>Quem Somos</h5>
        <p class="text-white small">Connect Skills é uma plataforma de recrutamento focada em conectar candidatos com as melhores vagas, usando inteligência artificial para destacar as habilidades comportamentais dos candidatos.</p>
      </div>

      <!-- WhatsApp -->
      <div class="col-12 col-md-4 text-center">
        <h5>Contato</h5>
        <p><i class="bi bi-whatsapp"></i> <a href="https://wa.me/5551992179330" class="text-white" target="_blank">51 99217-9330</a></p>
      </div>

      <!-- Links de política -->
      <div class="col-12 col-md-4 text-center">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/politica-privacidade" class="text-white">Política de Privacidade</a></li>
          <li><a href="/termos" class="text-white">Termos de Uso</a></li>
        </ul>
      </div>
    </div>

    <!-- Apoiador -->
    <div class="row justify-content-center">
  <div class="col-12 text-center">
    <h5>Apoio</h5>
    <div class="col-12 col-md-4 col-xl-3 text-center mx-auto">
      <img src="/img/LOOP_HOST.svg" class="img-fluid mb-3" style="max-height: 40px;" alt="Logo Apoiador 1">
    </div>
  </div>
</div>

    <!-- Direitos autorais -->
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p class="mb-0">Connect Skills &copy; 2025. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>

<script id="cs-config" type="application/json">
  <%- JSON.stringify({ CS_REMEMBER: Boolean(sessionRemember) }) %>
</script>
<script src="/js/shared/sessionLeave.js"></script>
