<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom shadow-sm>
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="Connect Skills" width="100" height="100" />
        <img src="/img/titulo-connect-skills.png" alt="Logo Connect Skills" style="width: 205px; height: 24px;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navEmpresaVaga"
              aria-controls="navEmpresaVaga" aria-expanded="false" aria-label="Alternar navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/empresas/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/empresas/vagas">Vagas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/empresa/meu-perfil">Meu perfil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalLogout">
          Sair
        </a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>