<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/"> 
      <img src="/img/logo.png" class="logo-header me-2" alt="Logo Header">
        <img src="/img/titulo-connect-skills.png" alt="Logo Connect Skills" style="width: 180px; height: 20px;">
    </a>
  </div>
</nav>
