<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #015EDB;">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" alt="Logo" style="width: 100px;">
    </a>

    <!-- Botão do menu colapsável -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/vagas">Vagas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/meu-perfil">Meu Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Sair</a>
        </li>
        <% if (nome && sobrenome && localidade) { %>
          <li class="nav-item d-flex align-items-center">
            <span class="nav-link text-white fs-6">Olá, <%= nome %>!</span>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
